{% extends 'base.html.twig' %}

{% block title %}Polymix Studios{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('./css/home.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('./css/base.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="index">
    <div id="description">
        <h2>Polymix Studios est un studio français produisant du contenu divertissant</h2>
        <p>Polymix Studios est une entreprise à caractère audiovisuel
            se situant sur Caen mais se déplaçant dans toute la région
            normande, pour ses différents services.
            
            Polymix Studios réalise des productions audiovisuels comme des
            Courts et Longs métrages…
            
            Polymix Studios vous propose aussi ses prestations pour tout
            vos événements (mariage, baptême, etc...), pour la
            communication et le marketing de vos entreprises et produits,
            en vous accompagnant sur les différents réseaux sociaux, ainsi que la réalisation de vos courts et longs métrages
            en participant à la production et à la réalisation, pour plus d'informations n'hésitez pas à nous contacter.</p>
    </div>
    <div id="video">
        <iframe width="840" height="472.5" src="https://www.youtube.com/embed/2tamT9TPYXw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
