{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="flex flex-col w-screen bg-gray-900">
    <div id="home" class="flex flex-col align-center w-screen h-screen">
        <div class="flex flex-row justify-center">
            <img src="img/polymix3.png" alt="" class="w-4/6 xl:w-1/6 h-fit animate__animated animate__fadeIn">
        </div>
        <div class="flex flex-row justify-center mt-4 w-screen h-full">
                <iframe width="1200px" height="auto" src="https://www.youtube.com/embed/" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="flex flex-col w-screen mt-4 h-48">
            <p>test</p>
    </div>
</div>
{% endblock %}
