.index {
    display: flex;
}

#description {
    width: 45vw;
    background-color: aqua;
}

#description h2 {
    font-weight: 700;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 1.5rem;
}

#video {
    display: flex;
    justify-content: center;
    width: 55vw;
    background-color: red;
}