{% extends 'base.html.twig' %}

{% block title %}Nos productions{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('./css/productions.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('./css/base.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="main">
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</div>
{% endblock %}
